.btn__menu
    font-size: 2rem
.bi-three-dots-vertical::before
    float: right
.nav
    z-index: 5
    height: 4.5rem
    transition: 0.5s
    top: -10px !important
    &__list
        &-item
            color: $light-inactive
